@{
  Layout = "_Layout";
}
  <body>
    <form action="/items" method="post">
      <label for="description">Add a new album</label>
      <input id="description" name="description" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>