@{
  Layout = "_Layout";
}
  <body>
    @using VendorOrder.Models;

    <h3>Here are all the albums in this music catalog:</h3>

    <ol>
    @foreach (Item item in @Model["items"])
    {
      <li><a href='/categories/@Model["category"].Id/items/@item.Id'>@item.Album</a></li>
    }
    </ol>

    <p><a href='/categories/@Model["category"].Id/items/new'>Add a new album</a></p>
    <p><a href='/categories'>Return to catalog list</a></p>
    <p><a href='/'>Return to Main Page</a></p>
  </body>
</html>